<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
</head>
<body>
<header>
	<h1 th:text="#{ofen.title}">Angebot</h1>
</header>
<nav th:include="navigation :: navigation"></nav>
<div class="alert" role="alert" th:text="#{${fail}}" th:if="${fail}"></div>
	<div align="center">
		<h3 th:text="#{ofen.number}">Ofen Anzahl</h3>
		<div>
           <h3 th:text="${ofen}">Number of Ofen</h3>
        </div>
		<!--<button onclick="decrement()" style=" display:inline!important;">-</button>
		<button onclick="increment()" style=" display:inline!important;">+</button> -->
		<form th:action="@{/ofen_anzahl}" method="post" role="form" class="ui form" id="form" style=" display:inline!important;">
			<!-- <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required"/><br/> -->
			<label>Neue Anzahl:</label>
			<input id="desiredNumber" required="required" type="number" name="desiredNumber" min=1 max=999>
			<br/>
			<br/>
			<button type="submit">Bestätigen</button>
			<!--<div th:if="${#fields.hasErrors('global')}">
				<p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
			</div>-->
		</form>

	</div>
	<script>
 	  function increment() {
  	    document.getElementById('desiredNumber').stepUp();
 	  }
 	  function decrement() {
  	    document.getElementById('desiredNumber').stepDown();
  	 }
	</script>
</body>
</html>