<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
 <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
</head>
<body>
<header>
  <h2 th:text="#{drinks.title}">Titel</h2>
</header>

<section layout:fragment="content">
	<div class="ui cards" th:remove="all-but-first">
    	<div class="card" th:each="PizzashopProduct : ${drinks}">
    		<div class="content">
    			<a class ="header" th:text="${PizzashopProduct.name}">
    			Produktname</a><br>
    			<form class="ui form" method="post" th:action="@{/cart}">
                <input type="hidden" name="product" value="0" th:value="${PizzashopProduct.id}"/>
    				<div class="field">
    				<label for="number">Anzahl</label>
    				<input id="number" type="number" name="number" min="1" max="10" step="1" value="1"/>
    				</div>
    				<button type="submit" class="ui button" th:text="#{products.add}">Hinzufügen</button>
    			</form>
    		</div>
    		
    	</div>
	</div>
  
</section>
	<a class="item" href="pizzashop.order.html" th:href="@{/pizzashop.order}"
       th:text="#{products.back}">zurück</a>
</body>
</html>