<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout.html}">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
</head>
<body>
<header>
	<h1 th:text="#{order.viewAll}">Bestellungsübersicht</h1>
</header>
<nav th:include="navigation :: navigation"></nav>
<div class="alert" role="alert" th:text="#{${erfolgreich}}" th:if="${erfolgreich}"></div>
<section layout:fragment="content">
	<div th:unless="${abholBestellungen.empty}">
	<h3 th:text="#{orderView.abhol}" sec:authorize="hasAnyRole('BOSS', 'MITARBEITER')">Bestellung</h3>
	<table class="ui celled table" sec:authorize="hasAnyRole('BOSS', 'MITARBEITER')">
		<thead>
		<tr>
			<th th:text="#{order.date}"> Datum </th>
			<th th:text="#{order.total}">Gesamtsumme</th>
			<th ></th>
			<th ></th>

		</tr>
		</thead>
		<tbody>
		<tr th:each="order : ${abholBestellungen}">
			<td th:text="${#temporals.format(order.dateCreated, 'dd.MM.yyyy')}"></td>
			<td th:text="${order.total}"></td>
			<td> <a class="item" th:href="@{/bill/{order}(order=${order.id})}" th:text="#{order.bill}">Rechnung></a></td>
			<td><form class="form" th:action="@{/abgeschlossen/{order}(order=${order.id})}" method="post">
				<button type="submit" th:text="#{order.bearbeitet}" class="ui button">Hinzufügen</button>
			</form></td>
		</tr>
		</tbody>
	</table>
		</br>
	</div>


	<div th:unless="${lieferBestellungen.empty}">
	<h3 th:text="#{orderView.liefer}" sec:authorize="hasAnyRole('BOSS', 'LIEFERBOTE')">Bestellung</h3>
	<table class="ui celled table" sec:authorize="hasAnyRole('BOSS', 'LIEFERBOTE')">
		<thead>
		<tr>
			<th th:text="#{order.date}"> Datum </th>
			<th th:text="#{order.total}">Gesamtsumme</th>
			<th ></th>
			<th ></th>

		</tr>
		</thead>
		<tbody>
		<tr th:each="order : ${lieferBestellungen}">
			<td th:text="${#temporals.format(order.dateCreated, 'dd.MM.yyyy')}"></td>
			<td th:text="${order.total}"></td>
			<td> <a class="item" th:href="@{/bill/{order}(order=${order.id})}" th:text="#{order.bill}">Rechnung></a></td>
			<td><form class="form" th:action="@{/abgeschlossen/{order}(order=${order.id})}" method="post">
				<button type="submit" th:text="#{order.bearbeitet}" class="ui button">Hinzufügen</button>
			</form></td>
		</tr>
		</tbody>
	</table>
		</br>
	</div>


	<div th:unless="${bezahlteBestellungen.empty}">
	<h3 th:text="#{orderView.bezahlen}" sec:authorize="hasAnyRole('BOSS', 'LIEFERBOTE', 'MITARBEITER')">Bestellung</h3>
	<table class="ui celled table" sec:authorize="hasAnyRole('BOSS', 'LIEFERBOTE', 'MITARBEITER')">
		<thead>
		<tr>
			<th th:text="#{order.date}"> Datum </th>
			<th th:text="#{order.total}">Gesamtsumme</th>
			<th ></th>
			<th ></th>

		</tr>
		</thead>
		<tbody>
		<tr th:each="order : ${bezahlteBestellungen}">
			<td th:text="${#temporals.format(order.dateCreated, 'dd.MM.yyyy')}"></td>
			<td th:text="${order.total}"></td>
			<td> <a class="item" th:href="@{/bill/{order}(order=${order.id})}" th:text="#{order.bill}">Rechnung></a></td>
			<td><form class="form" th:action="@{/bezahlt/{order}(order=${order.id})}" method="post">
				<button type="submit" th:text="#{order.bezahlt}" class="ui button">Hinzufügen</button>
			</form></td>
		</tr>
		</tbody>
	</table>
		</br>
	</div>


	<div th:unless="${fertigeBestellungen.empty}">
	<h3 th:text="#{orderView.completed}" sec:authorize="hasRole('BOSS')">Bestellung</h3>
	<table class="ui celled table" sec:authorize="hasRole('BOSS')">
		<thead>
		<tr>
			<th th:text="#{order.date}"> Datum </th>
			<th th:text="#{order.total}">Gesamtsumme</th>
			<th ></th>

		</tr>
		</thead>
		<tbody>
		<tr th:each="order : ${fertigeBestellungen}">
			<td th:text="${#temporals.format(order.dateCreated, 'dd.MM.yyyy')}"></td>
			<td th:text="${order.total}"></td>
			<td> <a class="item" th:href="@{/bill/{order}(order=${order.id})}" th:text="#{order.bill}">Rechnung></a></td>
		</tr>
		</tbody>
	</table>
		</br>
	</div>
</section>

</body>
</html>
